body {
    background-color : #15c5bd;
}

form {
    background-color : #ffffff;
    padding-left : 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
